<div class="community-show-wrapper">
  <div class="container">
    <div class="row">
      
      <div class="col-md-offset-3 col-md-6">
        <div class="show-container">
          <h2 class="text center"><%= @join_community.community.title %></h2>
          <div class="post-container">
            
          </div>
         
        </div>
      </div>
     
      <div class="col-md-3">
        
        
      </div>

    </div>
  </div>
</div>
