<div class="top-wrapper">
  
  <div class="main-container background-image">
    <div class="container">
      <div class="top-container">
        <h1 class="title">M-Search</h1>
        <h4 class="title">音楽の仲間を探すアプリ</h4>
      </div>
    </div>
  </div>
  
  <div class="row-container">
    <div class="container">
      <div class="row">
        <div class="row-container-left col-md-offset-2 col-md-4">
          <div class="image center">
            <%= image_tag 'team.png', class:'team-image' %>
          </div>
          <div class="function">
            <h2 class="function-title center">グループ</h2>
            <h5 class="function-description center">グループに参加することで友達の輪を広げよう</h5>
          </div>
        </div>
        <div class="row-container-right col-md-4"> 
          <div class="image center">
            <%= image_tag 'mail2.png', class: 'mail-image' %>
          </div>
          <div class="function">
            <h2 class="function-title center">DM機能</h2>
            <h5 class="function-description center">個人間のやりとりもできる</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
