.navbar {
  height: 80px;
  background-color: #C0C0C0;
  margin: 0;
  
  .navbar-white {
    color: white;
  }
  
  .navbar-left {
    font-size: 40px;
    line-height: 80px
  }
  
  .navbar-right {
    font-size: 18px;
    line-height: 80px;
   
    li {
      list-style: none;
      display: inline-block;
      padding: 0 20px;
   }
  } 
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-color-green {
  background-color: #009966;
}

.text {
  height: 80px;
  background-color: #FFFFFF;
}


/*ログイン、サインイン*/
.main-container {
  height: 400px;
  
  .top-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .btn {
    color: white;
    font-size: 25px;
    margin-top: 25px;
  }
}

.row-container {
  padding-top: 100px;
}

.new-container {
  height: 500px;
  
  .new-form {
    width: 50%;
    margin: 40px auto;
  }
}

/*マイページ*/
.user-show-wrapper {
  
  .show-container {
    height: 800px;
  }
  
  .self-introduction {
    margin: 0 80px;  
    padding-bottom: 30px;
  }

  .follow {
    color: black;
    padding: 20px;
    font-size: 18px;
  }
  
  .image {
    width: 70%;
    height: 250px;
    padding-top: 40px;
  }
  
  .one-row {
    display: flex;
  }
  
  .item-border {
    border-top: solid 1px #c0c0c0;
    padding: 10px 0px;
  }
  
  .mini-font {
    padding-right: 20px;
  }
  
  .font {
    font-size: 18px;
  }
  
  .edit-btn {
    color: #444444;
    position: relative;
    top: -200px;
    left: 340px;

  }
}

/*マイページ編集*/
.user-edit-wrapper {
  .form-container {
    width: 50%;
    margin: 40px auto;
  }
  
  .edit-container {
    height: 800px;
  }
}

/*コミュニティ一覧*/
.community-index-wrapper {
  
  .index {
    border-bottom: solid 1px #c0c0c0;
    margin: 0 40px;
    padding: 30px 0px;
  }
 
  .index-image {
    width: 25%;
    height: auto;
    padding-right: 30px;
  }
  
  .title-description {
    display: inline-block;
    width: 60%;
    word-break: break-all;
  }
  
  .index-title {
    font-size: 18px;
  }
  
  .join-btn {
    margin-left: 20px;
  }
  
  .search-container {
    padding-top: 100px;
  }
  
  .new-btn {
    margin-top: 20px;
  }
  
  .search-btn {
    margin-left: 80%;
  }
  
}

/*コミュニティ投稿*/
.community-show-wrapper {
  
 .post-container {
   margin: 10px;
   padding: 10px;
 }
 
 .post-btn {
   width: 30% !important;
   margin-left: 70%;
 }

 .content-container {
  margin: 10px;
  padding: 10px;
  height: 500px;
  overflow: auto;
  }
    
  .content {
    font-size: 20px;
  }
    
  .user-name {
    margin-bottom: 0px;
  }
}

.show-container-right {
  .community-description {
    margin-top: 10px;
  }
  
  .show-image {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }
  
  .join-btn {
    margin-left: 80%;
  }
  
  .owner-btn {
    display: inline-block;
    margin: 10px;
  }
  
  .description {
    word-break: break-all;
  }
  
  .title {
    font-size: 18px;
  }
  
  .join-member {
    margin-top: 20px;
  }
}