.navbar {
  height: 80px;
  background-color: #C0C0C0;
  margin: 0;
  
  .navbar-white {
    color: white;
  }
  
  .navbar-left {
    font-size: 40px;
    line-height: 80px
  }
  
  .navbar-right {
    font-size: 18px;
    line-height: 80px;
   
    li {
      list-style: none;
      display: inline-block;
      padding: 0 20px;
   }
  } 
}



.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-color-green {
  background-color: #009966;
}

.text {
  height: 80px;
  background-color: #FFFFFF;
}

.new-line {
  word-break: break-all;
}

.bottom-border {
  border-bottom: solid 1px #c0c0c0;
}

.font-black {
  color: black;
}

.inline {
  display: inline-block;
}

/*投稿欄*/
.content-container {
  margin: 10px;
  padding: 10px;
  height: 500px;
  overflow: auto;
}
  
.user-image {
  margin: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
  
.user-content {
  width: 70%;
}
    
.content {
  font-size: 18px;
  margin: 0;
}
    
.user-name {
  font-size: 15px;
  margin: 0;
}

.post-container {
  margin: 10px;
  padding: 10px;
}
 
.post-screen {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
 
.post-btn {
  width: 30% !important;
  margin-left: 70%;
}

.join-member-count {
  display: inline-block;
  margin-left: 20px;
}

.owner {
  display: inline-block;
}

.owner-name {
  margin: 0;
}


.post {
  
  .form-text-field {
    width: 70%;
  }
}

/*ログイン、サインイン*/
.main-container {
  height: 400px;
  
  .top-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .btn {
    color: white;
    font-size: 25px;
    margin-top: 25px;
  }
}

.row-container {
  padding-top: 100px;
}

.new-container {
  height: 500px;
  
  .new-form {
    width: 50%;
    margin: 40px auto;
  }
}

/*ユーザーページ*/
.user-show-wrapper {
  
  .show-container {
    height: 800px;
  }
  
  .self-introduction {
    margin: 0 80px;  
    padding-bottom: 30px;
  }

 .follow-member {
    padding: 10px;
    font-size: 18px;
  }
  
  .edit-btn {
    margin-left: 85%;
  }
  
  .follow-message {
    margin: 0 10px 10px 10px;
  }
  
  .image {
    width: 200x;
    height: 200px;
    padding-top: 40px;
    object-fit: cover;
  }
  
  .one-row {
    display: flex;
    align-items: center;
  }
  
  .item-border {
    border-top: solid 1px #c0c0c0;
    padding: 10px 0px;
  }
  
  .mini-font {
    padding-right: 20px;
    height: 10px;
  }
  
  .font {
    font-size: 18px;
  }
  
}

/*マイページ編集*/
.user-edit-wrapper {
  .form-container {
    width: 50%;
    margin: 40px auto;
  }
  
  .edit-container {
    height: 800px;
  }
}

/*コミュニティ一覧*/
.community-index-wrapper {
  
  .index {
    border-bottom: solid 1px #c0c0c0;
    margin: 0 40px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
  }
 
  .index-image {
    width: 200px;
    height: 100px;
    padding-right: 30px;
    object-fit: cover;
  }
  
  .title-description {
    display: inline-block;
    width: 60%;
  }
  
  .index-title {
    font-size: 18px;
  }
  
  .member-count {
    display: inline-block;
  }
  
  .search-container {
    padding-top: 150px;
  }
  
  .new-btn {
    margin-top: 20px;
  }
  
  .search-btn {
    margin-left: 80%;
  }
  
}

/*コミュニティ投稿　右側*/

.show-container-right {
  .community-description {
    margin-top: 10px;
  }
  
  .show-image {
    width: 260px;
    height: 200px;
    margin-top: 100px;
    object-fit: cover;
  }
  
  .join-btn {
    margin-left: 80%;
  }
  
  .owner-btn {
    display: inline-block;
    margin: 10px;
  }
  
  .title {
    font-size: 18px;
  }
  
  .join-member {
    margin: 20px 0 0 0;
    display: inline-block;
  }
  
  .join-user-image {
    margin: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }  
}

/*左側マイプロフィール*/
.user-profire {
  .show-image {
    width: 260px;
    height: 200px;
    margin-top: 100px;
    object-fit: cover;
   }
}

/*フォロー・フォロワー一覧・参加者一覧*/
.follow-list-wrapper {
  .follow-user-container {
    width: 85%;
    margin: 20px auto;
  }
  
  .follow-member {
    padding:  10px 70px;
    font-size: 20px;
  }
  
  .follow-users {
    width: 80px;
    display: inline-block;
    margin: 15px;
  }
  
  .user-image {
    margin: 0px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .user-name {
    font-size: 18px;
    margin: 5px 0px;
  }
  
  .font-green {
    color: #009966;
    border-bottom: solid 1px #009966;
  }
  
}

/*DMページ*/
.room-show-wrapper {
  .chat {
    .image {
      margin: 10px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

