.navbar {
  height: 80px;
  background-color: #C0C0C0;
  margin: 0;
  
  .navbar-white {
    color: white;
  }
  
  .navbar-left {
    font-size: 40px;
    line-height: 80px
  }
  
  .navbar-right {
    font-size: 18px;
    line-height: 80px;
   
    li {
      list-style: none;
      display: inline-block;
      padding: 0 20px;
   }
  } 
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
  height: 400px;
  background-color: #008080;
  
  .top-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .btn {
    color: white;
    font-size: 25px;
    margin-top: 25px;
  }
}

.row-container {
  padding-top: 100px;
}

.new-container {
  background-color: #008080;
  height: 500px;
  
  .text {
    height: 80px;
    background-color: #FFFFFF;
  }
  
  .new-form {
    width: 50%;
    margin: 40px auto;
  }
}