<div class="show-image-container center">
  <%= image_tag community.image.url, class: 'show-image' %>
</div>
  <div class="community-description">
    <div class="center">
      <p class="owner">管理者：</p>
       <%= link_to user_path(:id => community.user.id), class: 'owner font-black' do %>
         <%= community.user.name %>
       <% end %>
    </div>
      <p class="title">説明</p>
      <p class="new-line"><%= community.description %></p>
  </div>